.logo img{
    width: 100px;
    height: 100px;
padding: 0 15px;
margin-top: 47px;
}
header{
    text-align:center ;
    color: black;
    width: 100%;
    background-color: gold;
    padding: 10px;
    position: fixed;
}
a{
    padding: 100px;
    font-size: x-large;
    color: black;
    text-decoration: none;
}
section{
    display: flex;
    width: 100%;
    
    
}
.left{
    width: 50%;
    height: max-content;
    background-color: black;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left img{
    width:100%;
    height: 100vh;
    padding-bottom: 21%;
    
}
.right{
    width: 50%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right img{
    padding: 30px;
    border-radius: 100px;  
}
.right h3{
    font-size: medium;
}
footer{
    
     bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background:gold;
    padding: 20px 0;
    color:black;
}
.right img{
    width: 300px;
    height: 200px;
}






